<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
  <connectionStrings>
    <add name="ConnectionStringMonitoreo" connectionString="Server=localhost;UID=root;Allow Zero Datetime=true;" />
	<add name="ConnectionStringAuditoria" connectionString="Server=localhost;UID=root;Allow Zero Datetime=true;" />
  </connectionStrings>
  <appSettings>
    <add key="DestinationDirectoryMonitoreo" value="C:/baks/"/>
	<add key="DestinationDirectoryAuditoria" value="C:/baks/"/>
	<add key="DatabaseNameMonitoreo" value="monitoreo"/>
	<add key="DatabaseNameAuditoria" value="auditoria_monitoreo"/>
  </appSettings>

</configuration>